 body {
     margin: 0%;
     padding: 0%;
 }

 img {
     width: 10%;
     height: auto;
 }

 .d-flex {
     align-items: center;
     height: auto;
 }

 .navbar-brand {
     color: aliceblue;
 }

 #for-color {
     color: white !important;
     text-decoration: none;
 }

 .navbar-nav {
     justify-content: space-evenly !important;
     width: 100%;
 }

 /* .p-2 {
     padding: 10% !important;
 } */

 .container2 {
     position: relative;
 }